<h2><%= "Witaj #{@user.email}!" %></h2>

<h1><%= "Planownik. Podsumowanie miesiąca: #{month_for_monthly_summary.upcase} #{year_for_monthly_summary}" %></h1>

<h2><%= "Zrealizowane zadania: #{@tasks.completed.count}" %></h2>
<%= render "tasks", tasks: @tasks.completed %>

<h2><%= "Niezrealizowane zadania: #{@tasks.to_do.count}" %></h2>
<%= render "tasks", tasks: @tasks.to_do %>
  
<p><%= "#{archive_date} zadania zostaną usuniete z bazy danych. Aby zarchiwizować zadanie kliknij w link 'archwizuj' znajdujący się obok nazwy zadania." %>
</p>


