</br>
<%= simple_form_for @task do |f| %>
  <div class="field">
    <%= f.input :name %>
  </div>

  <div class="field starttime">
    <%= f.input :start_time, selected: start_time.to_datetime %>
  </div>

  <div class="field">
    <%= f.input :description, :as => :text, :input_html => { :rows => 5 , :style => 'width: 100%'} %>
  </div>

  <div class="field">
    <span id="link-new-tag-cat">
    <%= f.association :task_category, label: ("kategoria <span class='btn btn-sm'><input name=\"commit\" value=\"nowa kategoria\" formaction=\"#{form_input_path}\" data-disable-with=\"new task category\" type=\"submit\"></span>").html_safe, collection: current_user.task_categories, required: false %>
  </div>
  <div class="form-actions">
    <%= f.submit t('submit'), class: "btn btn-main" %>
  </div>
<% end %>