<div class="simple-calendar">
  <div class="calendar-heading">
    <div class="text-center">
      <%= link_to calendar.url_for_previous_view do %>
        <% octicon "chevron-left" %>
      <% end %>
      <% if calendar.number_of_weeks == 1 %>
        <span class="calendar-title text-center"><%= link_to "#{start_date.strftime("%d.%m.%Y")} - #{(start_date + 6.days).strftime("%d.%m.%Y")}", '#', class: "datepicker" %>
      <%else%>
        <span class="calendar-title">Week <%= calendar.week_number %> - <%= calendar.end_week %></span>
      <%end%>
      <%= link_to calendar.url_for_next_view do %>
        <% octicon "chevron-right" %>
      <% end %>
    </div>
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.day_names')[day.wday].capitalize %>
            <br>
            <%= day.strftime("%d.%m.%Y") %>
            <span style="margin-left: 0.5em;" class="btn-sm">
              <%= link_to new_task_path(start_date: day) do %>
                <% octicon "plus" %>
              <% end %>
            </span> 
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr class="table-content">
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
